#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  align-items: flex-start;
  gap: 2em;
  padding: 1em;
}

.thumbnail > img {
  max-width: 480px;
  display: block;
  width: 100%;
}

.article {
  padding: 1rem;
}

.footer {
  text-align: center;
  padding: 2em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
